{{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="sec-padding">
 <div class="container">
  <div class="row">
  <div class="col-md-6 col-centered">
  <div class="text-box padding-4 border">
  <div class="smart-forms smart-container wrap-3">
       <h4 class="uppercase">Reset Password</h4>
       {% include 'includes/alerts.html' %}
         <form method="post" action="{% url 'resetPassword' %}" id="contact">
           {% csrf_token %}
           <div>

                 <div class="section">
                     <label class="field prepend-icon">
                         <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password">
                         <span class="field-icon"><i class="fa fa-envelope"></i></span>
                     </label>
                 </div><!-- end section -->

								 <div class="section">
                     <label class="field prepend-icon">
                         <input type="password" name="confirm_password" id="confirm_password" class="gui-input" placeholder="Confirm Password">
                         <span class="field-icon"><i class="fa fa-envelope"></i></span>
                     </label>
                 </div><!-- end section -->

                 <div class="form-group">
                 	<a href="{% url 'login' %}" class="float-right">Got password? Login</a>
                 </div> <!-- form-group form-check .// -->

             </div><!-- end .form-body section -->
             <div class="section form-footer">
               <button type="submit" class="button btn-primary">Reset Password</button>
             </div><!-- end .form-footer section -->
         </form>

     </div>
    <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
   </div></div>

     <br><br>
  </div>
  <!--end item-->

 </div>
 </section>
 <!--end item -->
 <div class="clearfix"></div>
{% endblock %}
